<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">



<title>Nanocitation</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="">
<meta name="keywords"
	content="Nanopublication, Nanopub, Npub, Text-Snippet, text snippet, Landing Page, Nanopublication aggregation">
<meta name="author" content="Erika Fabris">

<meta name="robots" content="all, index, follow" />
<meta name="googlebot" content="all, index, follow" />
<!-- GOOGLE -->
<meta name="msnbot" content="all, index, follow" />
<!-- MSN -->
<meta name="slurp" content="all, index, follow" />
<!-- YAHOO -->
<meta name="copyright" content="" />


<style>
.collapsible {
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: center;
	outline: none;
	font-size: 20px;
}

.collapsible:hover {
	background-color: #626262;
}

.active {
	background-color: #555;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
}

.collapsible:after {
	content: '\002B';
	color: white;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2212";
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
</style>



<link rel="stylesheet"
	href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" />
<link rel="stylesheet" href="/nanocitation/css/styles/fonts.css"
	type="text/css" media="all" />
<link rel="shortcut icon" src="/nanocitation/img/favicon.ico">

<link rel="stylesheet" href="/nanocitation/css/bootstrap.min.css">
<link rel="stylesheet" href="/nanocitation/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/nanocitation/css/fontAwesome.css">
<link rel="stylesheet" href="/nanocitation/css/hero-slider.css">
<link rel="stylesheet" href="/nanocitation/css/owl-carousel.css">
<link rel="stylesheet" href="/nanocitation/css/datepicker.css">
<link rel="stylesheet" href="/nanocitation/css/style.css">
<link rel="stylesheet" href="/nanocitation/css/animate.css">

<link
	href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900"
	rel="stylesheet">

<script src="/nanocitation/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

</head>


<body>

	<div class="wrap">
		<header id="header">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<button id="primary-nav-button" type="button">Home</button>
						<div class="logo">
							<img src="/nanocitation/img/Logo_righttext.png" alt="Logo">
						</div>

						<nav id="primary-nav" class="dropdown cf">
							<ul class="dropdown menu">
								<li><a href="/nanocitation/index">Home</a></li>
								<li><a href="/nanocitation/index">About</a>
									<ul class="sub-menu">

										<li><a class="scrollTo" data-scrollTo="nanopub" href="#">Nanopublication</a>
										<li><a class="scrollTo" data-scrollTo="citation" href="#">Citation</a>
									</ul></li>
								<li><a class="scrollTo" data-scrollTo="tools" href="#">Generate
										Text-Snippet</a>
									<ul class="sub-menu">

										<li><a href="/nanocitation/form">Single Nanopublication</a>
										<li><a href="#">Set of Nanopublications</a></li>
										<li><a href="/nanocitation/restdoc">REST API documentation</a></li>
									</ul>
							</ul>
						</nav>
						<!-- / #primary-nav -->
					</div>

				</div>
			</div>
		</header>
	</div>



	<section class="bannersmall" id="top">
		<div class="container">
			<div class="row">


				<div class="col-md-12">
					<div class="banner-caption">
						<div class="line-dec"></div>
						<h2>Nanopublication Landing Page</h2>
					</div>
				</div>
			</div>
		</div>
	</section>




	<section class="container-white" id="nanopub2">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-heading">
						<span>Nanopublication Landing Page</span>
						<h2>Text Snippet</h2>
					</div>

					<p id="snippet">Núria Queralt Rosinach, Janet Piñero et al.(5), 2017-10-17, IBIGroup, gene-disease association: [(gene-disease biomarker association) ABCA1 ATP binding cassette subfamily A member 1 - Amyloidosis], DisGeNET, v5.0.0, V Hirsch-Reinshagen et al.(3), http://nanocitation.dei.unipd.it/landingpage/RAEs1AHB1X4feFIt7huPO_-_SLkVZ4RbNne4JlhkSQNvM</p>

				</div>
			</div>
		</div>
	</section>

	<section class="container-gray" id="nanopub-coll">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="section-heading">
						<h2>Nanopublication Information</h2>
					</div>
					<p><b>Link to the Nanopublication</b>: <a target="_blank" rel="noopener noreferrer" href="http://rdf.disgenet.org/nanopub-server/RAEs1AHB1X4feFIt7huPO_-_SLkVZ4RbNne4JlhkSQNvM">http://rdf.disgenet.org/resource/nanopub/NP2536.RAEs1AHB1X4feFIt7huPO_-_SLkVZ4RbNne4JlhkSQNvM</a></p>



					<div class="col-md-12">

						<div id="content">
							<button id="npInfo" class="collapsible">Publication
								Information:</button>
							<div class="content">

								<p><b>Creation Date</b>: 2017-10-17</p>
								<p><b>Right Holder</b>: IBIGroup</p>
								<p><b>Platform</b>: <a target="_blank" rel="noopener noreferrer" href="http://rdf.disgenet.org/v5.0.0/void/disgenetv3.0rdf">DisGeNET</a></p>

								<p><b>Version</b>: v5.0.0</p>
								<button id="creators" class="collapsible">Creators:</button>
								<div class="content">
									<p><a target="_blank" rel="noopener noreferrer" href="http://orcid.org/0000-0003-0169-8159">Núria Queralt Rosinach</a><br></p>
								</div>

								<button id="collaborators" class="collapsible">Collaborators:</button>
								<div class="content">
									<p><a target="_blank" rel="noopener noreferrer" href="http://orcid.org/0000-0003-1244-7654">Janet Piñero</a><br><a target="_blank" rel="noopener noreferrer" href="http://orcid.org/0000-0002-9383-528X">Laura I. Furlong</a><br><a target="_blank" rel="noopener noreferrer" href="http://orcid.org/0000-0003-0169-8159">Núria Queralt Rosinach</a><br><a target="_blank" rel="noopener noreferrer" href="http://orcid.org/0000-0002-7534-7661">Ferran Sanz</a><br><a target="_blank" rel="noopener noreferrer" href="http://orcid.org/0000-0001-5999-6269">Àlex Bravo Serrano</a><br></p>
								</div>


							</div>

							<button id="assertion" class="collapsible">Assertion:</button>
							<div class="content">

								<p><p><b> Provenence Evidence Comment:</b> </p>Gene-disease associations inferred from text-mining the literature.<br><br><p><b> Assertion Description:</b> </p>[Several independent studies have shown this poorly lipidated apoE increases amyloid burden in mouse models of AD, demonstrating that apoE lipidation by ABCA1 affects key steps in amyloid deposition or clearance.]. Sentence from MEDLINE/PubMed, a database of the U.S. National Library of Medicine.
<br><br><p><b> Assertion:</b> </p>[(gene-disease biomarker association) ABCA1 ATP binding cassette subfamily A member 1 - Amyloidosis]<br><br><p><b> Reference links:</b> </p><p><a target="_blank" rel="noopener noreferrer" href="http://identifiers.org/ncbigene/19">ABCA1 ATP binding cassette subfamily A member 1</a></p><p><a target="_blank" rel="noopener noreferrer" href="http://linkedlifedata.com/resource/umls/id/C0002726">Amyloidosis</a></p><p><a target="_blank" rel="noopener noreferrer" href="http://semanticscience.org/resource/SIO_001121">gene-disease biomarker association</a></p></p></p>

							</div>

							<button id="provanance" class="collapsible">Provenance:</button>
							<div class="content">

								<p><p><b>Assertion Generated by</b>: <a target="_blank" rel="noopener noreferrer" href="http://purl.obolibrary.org/obo/ECO_0000203">automatic assertion</a><br><a target="_blank" rel="noopener noreferrer" href="http://purl.obolibrary.org/obo/ECO_0000212">DisGeNET evidence - LITERATURE</a><br><b>Assertion Generation Description</b>: Gene-disease associations inferred from text-mining the literature.<br><br><b>Evidence Source</b>: <a target="_blank" rel="noopener noreferrer" href="http://identifiers.org/pubmed/19116777">http://identifiers.org/pubmed/19116777</a><p>Abstract:
Several lines of evidence suggest that dysregulated lipid metabolism may
participate in the pathogenesis of Alzheimer's disease (AD). Epidemiologic
studies suggest that elevated mid-life plasma cholesterol levels may be
associated with an increased risk of AD and that statin use may reduce the
prevalence of AD. Cellular studies have shown that the levels and distribution of
intracellular cholesterol markedly affect the processing of amyloid precursor
protein into A beta peptides, which are the toxic species that accumulate as
amyloid plaques in the AD brain. Most importantly, genetic evidence identifies
apolipoprotein E, the major cholesterol carrier in the central nervous system, as
the primary genetic risk factor for sporadic AD. In humans, apoE exists as three 
major alleles (apoE2, apoE3, and apoE4), and inheritance of the apoE4 allele
increases the risk of developing AD at an earlier age. However, exactly how apoE 
functions in the pathogenesis of AD remains to be fully determined. Our studies
have identified that the cholesterol transporter ABCA1 is a crucial regulator of 
apoE levels and lipidation in the brain. Deficiency of ABCA1 leads to the loss of
approximately 80% of apoE in the brain, and the residual 20% that remains is
poorly lipidated. Several independent studies have shown this poorly lipidated
apoE increases amyloid burden in mouse models of AD, demonstrating that apoE
lipidation by ABCA1 affects key steps in amyloid deposition or clearance.
Conversely, robust overexpression of ABCA1 in the brain promotes apoE lipidation 
and nearly eliminates the formation of mature amyloid plaques. These studies show
that the lipid binding capacity of apoE is a major mechanism of its function in
the pathogenesis of AD, and suggest that increasing apoE lipidation may be of
therapeutic importance for this devastating disease.</p></p></p>
								<button id="evidauthors" class="collapsible">Evidence
									Authors:</button>
								<div class="content">
									<p><a target="_blank" rel="noopener noreferrer" href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Hirsch-Reinshagen%20V%5BAuthor%5D&cauthor_uid=19116777">V Hirsch-Reinshagen</a><br><a target="_blank" rel="noopener noreferrer" href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Burgess%20BL%5BAuthor%5D&cauthor_uid=19116777">BL Burgess</a><br><a target="_blank" rel="noopener noreferrer" href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Wellington%20CL%5BAuthor%5D&cauthor_uid=19116777">CL Wellington</a><br></p>
								</div>

							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="container-white" id="nanopub-meta">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="section-heading">
						<span>Nanopublication Metadata</span>
						<h2>Download Citation Metadata</h2>
					</div>








					<div class="col-md-12" style="text-align: center;">
						<div class="submit-formcenter">
							<form id="form_get_metafile" onsubmit="get_action(this);">
								<div class="row">
									<div class="col-md-6 only-item">
										<a href="/nanocitation/download/meta.xml" target="_blank"
											rel="noopener noreferrer">Get XML</a>
										<!-- th:href="@{'/downloads/metaex1.xml'}" download="metadataXmlExample" -->
									</div>
									<div class="col-md-6 only-item">
										<a href="/nanocitation/download/meta.json" target="_blank"
											rel="noopener noreferrer">Get JSON</a>
										<!-- th:href="@{'/downloads/metaex1.json'}" download="metadataJsonExample" -->
									</div>
								</div>
							</form>
						</div>
					</div>


			</div>

		</div>

	</section>


	<!-- 
    <section class="our-services" id="tools">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <span>Our Services</span>
                        <h2>What We Provide</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="service-item">
                        <div class="icon">
                            <a href="#"><img src="img/Single.png" alt=""></a>
                        </div>
                        <h4>Text Snippet for a Single Nanopublication</h4>
                        <p>Automatic creation of citation text snippets and landing pages for a single nanopublication.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-item">
                        <div class="icon">
                            <a href="#"><img src="img/Multiple.png" alt=""></a>
                        </div>
                        <h4>Text Snippet for a Set of Nanopublication</h4>
                        <p>Automatic creation of citation text snippets and landing pages for a set of nanopublications.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-item">
                        <div class="icon">
                            <a href="#"><img src="img/Rest.png" alt=""></a>
                        </div>
                        <h4>REST API <br></h4>
                        <p>Rest API documentation. <br></p>
                    </div>
                </div>
            </div>
        </div>
    </section> -->



	<section class="footer" style="margin-bottom: 0px">
		<img class="full-width" alt="Unipd" src="/nanocitation/img/bannerLogo.png" />

	</section>

	<div class="sub-footer">
		<p>Copyright &copy; 2019 - Information Management Systems (IMS)
			Research Group, University of Padua, Padua, Italy
	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"
		type="text/javascript"></script>
	<script>
		window.jQuery
				|| document
						.write('<script src="@{\'js/vendor/jquery-1.11.2.min.js\'}"><\/script>')
	</script>

	<script src="/nanocitation/js/vendor/bootstrap.min.js"></script>

	<script src="/nanocitation/js/datepicker.js"></script>
	<script src="/nanocitation/js/plugins.js"></script>
	<script src="/nanocitation/js/main.js"></script>
</body>




<script>
	var coll = document.getElementsByClassName("collapsible");
	var i;

	for (i = 0; i < coll.length; i++) {
		coll[i].addEventListener("click", function() {
			this.classList.toggle("active");
			var content = this.nextElementSibling;
			if (content.style.display == "block") {
				content.style.display = "none";
			} else {
				content.style.display = "block";
			}
		});
	}

	document.getElementById("clickNpInfo").addEventListener("click",
			openNPInfo());

	function openNPInfo() {
		var colla;

		colla = document.getElementById("npInfo");

		colla.classList.toggle("active");
		colla.nextElementSibling.classList.toggle("show");

		colla.click();

	}

	function copyFunction() {
		var copyText = document.getElementById("snippet");
		copyText.select();
		document.execCommand("copy");

		alert("Copied text snippet: " + copyText.value);
	}
</script>





</html>

