<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">



<title>Nanocitation</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="">
<meta name="keywords"
	content="Nanopublication, Nanopub, Npub, Text-Snippet, text snippet, Landing Page, Nanopublication aggregation">
<meta name="author" content="Erika Fabris">

<meta name="robots" content="all, index, follow" />
<meta name="googlebot" content="all, index, follow" />
<!-- GOOGLE -->
<meta name="msnbot" content="all, index, follow" />
<!-- MSN -->
<meta name="slurp" content="all, index, follow" />
<!-- YAHOO -->
<meta name="copyright" content="" />

<link rel="stylesheet" th:href="@{'/css/bootstrap.min.css'}">
<link rel="stylesheet" th:href="@{'/css/bootstrap-theme.min.css'}">
<link rel="stylesheet" th:href="@{'/css/fontAwesome.css'}">
<link rel="stylesheet" th:href="@{'/css/hero-slider.css'}">
<link rel="stylesheet" th:href="@{'/css/owl-carousel.css'}">
<link rel="stylesheet" th:href="@{'/css/datepicker.css'}">
<link rel="stylesheet" th:href="@{'/css/style.css'}">
<link rel="stylesheet" th:href="@{'/css/animate.css'}">
<link rel="stylesheet" th:href="@{'/css/code.css'}">

<link
	href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900"
	rel="stylesheet">

<script th:src="@{'/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js'}"></script>


</head>

<body>

	<div class="wrap">
		<header id="header">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<button id="primary-nav-button" type="button">Home</button>
						<div class="logo">
							<img th:src="@{'/img/Logo_righttext.png'}" alt="Logo">
						</div>
						<nav id="primary-nav" class="dropdown cf">
							<ul class="dropdown menu">
								<li class='active'><a th:href="@{'/index'}">Home</a></li>
								<li><a th:href="@{'/index'}">About</a>
									<ul class="sub-menu">

										<li><a th:href="@{'/index'}">Nanopublication</a>
										<li><a th:href="@{'/index'}">Citation</a>
									</ul></li>
								<li><a href="#">Generate Text-Snippet</a>
									<ul class="sub-menu">

										<li><a th:href="@{'/form'}">Single Nanopublication</a>
										<li><a href="#">Set of Nanopublications</a></li>
										<li><a href="#">REST API documentation</a></li>
									</ul>
							</ul>
						</nav>
						<!-- / #primary-nav -->
					</div>
				</div>
			</div>
		</header>
	</div>



	<section class="bannersmall" id="top">
		<div class="container">
			<div class="row">


				<div class="col-md-12">
					<div class="banner-caption">
						<div class="line-dec"></div>
						<h2>REST API</h2>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="container-white" id="API ref">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-heading">
						<span>About</span>
						<h2>API Reference</h2>
					</div>
					<div class="text-content" align="left">

						You can use the Nanocitatation API to look up the metadata of
						nanopublications and to get their text-snippet to be used in the
						citation reference list. All Nanocitation REST API uses HTTP
						Protocol and all services provided are GET HTTP methods returning
						JSON, XML or TXT response. No authentication to access the API is
						requested. <br> <br> Available method: <br> <br>
						<br> <br><b> Get the metadata in XML/JSON of the nanopublication with
							id <code>{id}</code>
						</b> <br>The media response type is XML by default, a JSON
						response can be requested by specifying it in the "Accept" header
						of the HTTP request or by affix the file extension in the request
						(as you can see in the below examples). <br>
						<div class="codeheader" id="methodsheader_get">GET</div>
						<div id="codebox">/rest/meta/{id}</div>
						<br><br><br><b> Get the text snippet of the nanopublication with id
						<code>{id}</code></b>
						<br> <br>
						<div class="codeheader" id="methodsheader_get">GET</div>
						<div id="codebox">/rest/textsnippet/{id}</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="container-gray" id="API doc">
		<div class="container">
			<div class="row">

				<div class="col-md-12">
					<div class="section-heading">
						<span>Doc</span>
						<h2>Request Examples</h2>
					</div>

					Get the metadata in XML format of the nanopublication with id
					<code>RA2SzT2Q5GbcpOKF1d2iZJAUsu0EagaTTPxiZsUSPwa0s</code>
					from cURL request:<br> <br>
					<div class="codeheader" id="codeheader_curl">Curl</div>
					<div id="codebox">curl
						http://nanocitation.dei.unipd.it/rest/meta/RA2SzT2Q5GbcpOKF1d2iZJAUsu0EagaTTPxiZsUSPwa0s</div>
					or<br> <br>
					<div class="codeheader" id="codeheader_curl">Curl</div>
					<div id="codebox">curl
						http://nanocitation.dei.unipd.it/rest/meta/RA2SzT2Q5GbcpOKF1d2iZJAUsu0EagaTTPxiZsUSPwa0s.xml</div>
					or<br> <br>
					<div class="codeheader" id="codeheader_curl">Curl</div>
					<div id="codebox">curl
						http://ims-ws.dei.unipd.it/nanocitation/rest/meta/RA2SzT2Q5GbcpOKF1d2iZJAUsu0EagaTTPxiZsUSPwa0s
						-H "Accept: application/xml"</div>

					<br> Get the metadata in JSON format of the nanopublication with id
					<code>RA2SzT2Q5GbcpOKF1d2iZJAUsu0EagaTTPxiZsUSPwa0s</code>
					from cURL request:<br> <br>
					<div class="codeheader" id="codeheader_curl">Curl</div>
					<div id="codebox">curl
						http://nanocitation.dei.unipd.it/rest/meta/RA2SzT2Q5GbcpOKF1d2iZJAUsu0EagaTTPxiZsUSPwa0s.json</div>
					or<br> <br>
					<div class="codeheader" id="codeheader_curl">Curl</div>
					<div id="codebox">curl
						http://nanocitation.dei.unipd.it/rest/meta/RA2SzT2Q5GbcpOKF1d2iZJAUsu0EagaTTPxiZsUSPwa0s
						-H "Accept: application/json"</div>
					<br> <br> <br> Get the metadata in text snippet of
					the nanopublication with id
					<code>RA2SzT2Q5GbcpOKF1d2iZJAUsu0EagaTTPxiZsUSPwa0s</code>
					from simple HTTP request:<br> <br>
					<div class="codeheader" id="codeheader_http">HTTP</div>
					<div id="codebox">HTTP GET
						http://nanocitation.dei.unipd.it/rest/textsnippet/RA2SzT2Q5GbcpOKF1d2iZJAUsu0EagaTTPxiZsUSPwa0s</div>


				</div>


				<div class="text-content" align="left"></div>
			</div>
		</div>

	</section>



	<section class="our-services" id="tools">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-heading">
						<span>Our Services</span>
						<h2>What We Provide</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="service-item">
						<div class="icon">
							<a th:href="@{'/form'}"><img th:src="@{'/img/Single.png'}"
								alt=""></a>
						</div>
						<h4>Text Snippet for a Single Nanopublication</h4>
						<p>Automatic creation of citation text snippets and landing
							pages for a single nanopublication.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service-item">
						<div class="icon">
							<a href="#"><img th:src="@{'/img/Multiple.png'}" alt=""></a>
						</div>
						<h4>Text Snippet for a Set of Nanopublication</h4>
						<p>Automatic creation of citation text snippets and landing
							pages for a set of nanopublications.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service-item">
						<div class="icon">
							<a href="#"><img th:src="@{'/img/Rest.png'}" alt=""></a>
						</div>
						<h4>
							REST API <br>
						</h4>
						<p>
							Rest API documentation. <br>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>



	<section class="footer" style="margin-bottom: 0px">
		<img class="full-width" alt="Unipd" th:src="@{'/img/bannerLogo.png'}" />

	</section>

	<div class="sub-footer">
		<p>Copyright &copy; 2019 - Information Management Systems (IMS)
			Research Group, University of Padua, Padua, Italy
	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"
		type="text/javascript"></script>
	<script>
		window.jQuery
				|| document
						.write('<script src="@{\'/js/vendor/jquery-1.11.2.min.js\'}"><\/script>')
	</script>

	<script th:src="@{'/js/vendor/bootstrap.min.js'}"></script>

	<script th:src="@{'/js/datepicker.js'}"></script>
	<script th:src="@{'/js/plugins.js'}"></script>
	<script th:src="@{'/js/main.js'}"></script>
</body>

</html>