@charset "utf-8";

form, fieldset, legend {
	margin: 0;
	padding: 0;
	border: none;
}

legend {
	display: none;
}

/* ----------------------------------------------Search Form------------------------------------- */
#search {
	display: block;
	width: 285px;
	position: absolute;
	top: 10px;
	right: 0;
}

#search input {
	display: block;
	width: 229px;
	margin: 0;
	padding: 5px;
	color: #FFFFFF;
	background-color: #b0b0b0;
	border: 1px solid #4A80C1;
	font-family: 'Questrial', sans-serif;
	font-size: 20px;
}

#search input#go {
	display: block;
	float: right;
	width: auto;
	height: auto;
	margin: 0;
	padding: 4px;
}

/* ----------------------------------------------Forms in Content Area------------------------------------- */
#container #respond {
	display: block;
	width: 100%;
}

#container #respond input {
	width: 170px;
	padding: 2px;
	border: 1px solid #CCCCCC;
	margin: 5px 5px 0 0;
}

#container #respond textarea {
	width: 98%;
	border: 1px solid #CCCCCC;
	padding: 2px;
	overflow: auto;
}

#container #respond p {
	margin: 5px 0;
}

#container #respond #submit, #container #respond #reset {
	margin: 0;
	padding: 5px;
	color: #666666;
	background-color: #F7F7F7;
	border: 1px solid #CCCCCC;
}

/* ----------------------------------------------Contact Form in Footer------------------------------------- */
#contactform form {
	margin: 0;
	padding: 0;
	border: none;
	line-height: normal;
}

#contactform label {
	display: inline;
	width: 170px;
	float: left;
	margin: 0 0 12px 0;
	padding: 0;
}

#contactform label.margin {
	margin-left: 10px;
}

#contactform label input, #contactform label textarea {
	display: block;
	width: 162px;
	margin: 5px 0;
	padding: 3px;
	color: #000000;
	background-color: #F7F7F7;
	border: 1px solid #CCCCCC;
}

#contactform label textarea {
	display: block;
	width: 342px;
	overflow: auto;
}

#contactform p {
	display: block;
	width: 350px;
	margin: 0;
	padding: 0;
	clear: both;
}

#contactform p input {
	padding: 5px 10px;
	color: #666666;
	background-color: #F7F7F7;
	border: 1px solid #CCCCCC;
}



.form-style-7{
	max-width:400px;
/* 	margin:50px auto; */
	background:#fff;
	border-radius:2px;
	padding:20px;
	font-family: 'Questrial', sans-serif;
}
.form-style-7 h1{
	display: block;
	text-align: center;
	padding: 0;
/* 	margin: 0px 0px 20px 0px; */
	color: #294E79;
	font-size:x-large;
}
.form-style-7 ul{
	list-style:none;
	padding:0;
	margin:0;	
}
.form-style-7 li{
	display: block;
	padding: 9px;
	border:1px solid #DDDDDD;
	margin-bottom: 30px;
	border-radius: 3px;
}
.form-style-7 li:last-child{
	border:none;
	margin-bottom: 0px;
	text-align: center;
}
.form-style-7 li > label{
	display: block;
	float: left;
	margin-top: -19px;
	background: #FFFFFF;
	height: 14px;
	padding: 2px 5px 2px 5px;
	color: #B9B9B9;
	font-size: 20px;
	overflow: hidden;
	font-family: 'Questrial', sans-serif;
}
.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="datetime"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="search"],
.form-style-7 input[type="time"],
.form-style-7 input[type="url"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 25px;
	line-height: 25px;
	font-size: 20px;
	padding: 0;
	font-family: 'Questrial', sans-serif;
}
.form-style-7 input[type="text"]:focus,
.form-style-7 input[type="date"]:focus,
.form-style-7 input[type="datetime"]:focus,
.form-style-7 input[type="email"]:focus,
.form-style-7 input[type="number"]:focus,
.form-style-7 input[type="search"]:focus,
.form-style-7 input[type="time"]:focus,
.form-style-7 input[type="url"]:focus,
.form-style-7 input[type="password"]:focus,
.form-style-7 textarea:focus,
.form-style-7 select:focus 
{
}
.form-style-7 li > span{
	background: #F3F3F3;
	display: block;
	padding: 3px;
	margin: 0 -9px -9px -9px;
	text-align: center;
	color: #294E79;
	font-family: 'Questrial', sans-serif;
	font-size: 11px;
}
.form-style-7 textarea{
	resize:none;
}
.form-style-7 input[type="submit"],
.form-style-7 input[type="button"]{
	background: #b0b0b0;
	border: none;
	padding: 10px 20px 10px 20px;
	border-bottom: 3px solid #858585;
	border-radius: 3px;
	color: #294E79;
}
.form-style-7 input[type="submit"]:hover,
.form-style-7 input[type="button"]:hover{
	background: #294E79;
	color:#fff;
}