<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Nanocitation</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- <meta name="viewport" 
	content="width=device-width, initial-scale=1, maximum-scale=1">-->
<meta name="description" content="">
<meta name="keywords"
	content="Nanopublication, Nanopub, Npub, Text-Snippet, text snippet, Landing Page, Nanopub Aggregation, Nanopublication aggregation">
<meta name="author" content="Erika Fabris">

<meta name="robots" content="all, index, follow" />
<meta name="googlebot" content="all, index, follow" />
<!-- GOOGLE -->
<meta name="msnbot" content="all, index, follow" />
<!-- MSN -->
<meta name="slurp" content="all, index, follow" />
<!-- YAHOO -->
<meta name="copyright" content="" />

<link rel="stylesheet" th:href="@{'/css/styles/layout.css'}"
	type="text/css" />
<link rel="stylesheet"
	href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" />
<link rel="stylesheet" th:href="@{'/css/styles/fonts.css'}"
	type="text/css" media="all" />
<link rel="shortcut icon" th:href="@{'/img/favicon.ico'}">




<!-- <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous"> -->


</head>


<body id="top">
	<div class="wrapper col1">
		<div id="head">
			<h1>
				<a href="/nanocitation/index">Nanocitation</a> <img
					th:src="@{'/img/personal-image.png'}" width="100" height="100"
					style="float: right; margin: 15px 40px 15px 15px;"
					onclick="window.open('http://ims.dei.unipd.it/', '_self')" /> <img
					th:src="@{'/img/University_of_Padua.png'}" width="100" height="100"
					style="float: right; margin: 15px -10px 15px 15px;"
					onclick="window.open('https://www.unipd.it/en/', '_self')" />
			</h1>
			<p>Nanopublication Text Snippet/Landing Page Creator</p>


		</div>
		<div id="topnav">
			<ul>
				<li><a class="active" href="/nanocitation/index">Home</a></li>
				<li><a href="/nanocitation/form">Single Nanopublication</a></li>
				<li><a href="/nanocitation/form2">Set of Nanopublications</a></li>
			</ul>
		</div>
	</div>






	<div class="wrapper col3">
		<div id="container">
			<div id="content">
				<h1>We're sorry....The requested resource is not supported yet!</h1>
				<h2>Our Engineers are working on extending the system on other .</h2>

			</div>
			<div class="clear"></div>
		</div>

	</div>

	<div class="wrapper col5">
		<div id="footer">
			<!-- 			<div id="details"> -->
			<!-- 				<div id="officialdetails"></div> -->
			<!-- 				<div class="clear"></div> -->
			<!-- 			</div> -->
			<div id="copyright">
				<p class="fl_left">
					Copyright &copy; 2019 - All Rights Reserved - <a
						href="http://ims.dei.unipd.it">Information Management Systems
						(IMS) Research Group</a> <a href="https://www.unipd.it/en/">University
						of Padua, Padua, Italy</a>

					<!--Fabris Erika <a href="mailto:erika.fabris@unipd.it">erika.fabris@unipd.it</a> -->
				</p>
				<br class="clear" />
			</div>
			<div class="clear"></div>
		</div>
	</div>

</body>

</html>