<!-- http://rdf.disgenet.org/resource/nanopub/NP887532.RA2SzT2Q5GbcpOKF1d2iZJAUsu0EagaTTPxiZsUSPwa0s -->

<!DOCTYPE HTML>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">





<style>
.collapsible {
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 25px;
	font-family: 'Questrial', sans-serif;
	font-weight: bold;
}

.active, .collapsible:hover {
	background-color: #555;
}

.content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
}
</style>
<head>

<title>Nanopublication Landing Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="">
<meta name="keywords"
	content="Nanopublication, Nanopub, Npub, Text-Snippet, text snippet, Landing Page, Nanopub Aggregation, Nanopublication aggregation">
<meta name="author" content="Erika Fabris">

<meta name="robots" content="all, index, follow" />
<meta name="googlebot" content="all, index, follow" />
<!-- GOOGLE -->
<meta name="msnbot" content="all, index, follow" />
<!-- MSN -->
<meta name="slurp" content="all, index, follow" />
<!-- YAHOO -->
<meta name="copyright" content="" />




<link rel="stylesheet" href="/nanocitation/css/styles/layout.css"
	type="text/css" />
<link rel="stylesheet"
	href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" />
<link rel="stylesheet" href="/nanocitation/css/styles/fonts.css"
	type="text/css" media="all" />
<link rel="shortcut icon" href="/nanocitation/img/favicon.ico">





</head>



<body id="top">
	<div class="wrapper col1">
		<div id="head">
			<h1>
				<a href="/nanocitation/index">Nanocitation</a> <img
					th:src="@{'/img/personal-image.png'}" width="100" height="100"
					style="float: right; margin: 15px 40px 15px 15px;"
					onclick="window.open('http://ims.dei.unipd.it/', '_self')" /> <img
					th:src="@{'/img/University_of_Padua.png'}" width="100" height="100"
					style="float: right; margin: 15px -10px 15px 15px;"
					onclick="window.open('https://www.unipd.it/en/', '_self')" />
			</h1>
			<p>Nanopublication Text Snippet/Landing Page Creator</p>
		</div>
	</div>

	<div id="topnav">
		<ul>
			<li><a href="/nanocitation/index">Home</a></li>
			<li><a href="/nanocitation/form">Single Nanopublication</a></li>
			<li><a href="/nanocitation/form2">Set of Nanopublications</a></li>
		</ul>
	</div>
	<div class="wrapper col2">
		<div id="breadcrumb">
			<ul>
				<li class="first">You are here:</li>
				<li>&#187;</li>
				<li><a href="/nanocitation/index">Home</a></li>
				<li>&#187;</li>
				<li><a href="/nanocitation/form">Single Nanopublication
						Text Snippet and Landing Page Creator</a></li>
				<li>&#187;</li>
				<li><a class="current" href="#">Landing Page</a></li>

			</ul>
		</div>
	</div>



	<div class="wrapper col4">
		<div id="container">
			<div id="content">


				<div class="container">
					<h1>NP Landing Page</h1>

					<!-- <p id="clickNpInfo" onclick="openNPInfo()">push</p> -->

					<h2>Text Snippet:</h2>

					<p>Núria Queralt Rosinach, Janet Piñero et al.(5), 2017-10-17,
						IBIGroup, gene-disease association: (gene-disease association
						linked with genetic variation) PTPN13 protein tyrosine
						phosphatase, no - Carcinoma, Hepatocellular, DisGeNET, v5.0.0, SH
						Yeh et al.(10),
						http://ims-ws.dei.unipd.it/nanocitation/landingpage/RA2SzT2Q5GbcpOKF1d2iZJAUsu0EagaTTPxiZsUSPwa0s</p>


					<h2>Link to Nanopublication and Information:</h2>
					<p>
						<a target="_blank" rel="noopener noreferrer"
							href="http://rdf.disgenet.org/nanopub-server/RA2SzT2Q5GbcpOKF1d2iZJAUsu0EagaTTPxiZsUSPwa0s">http://rdf.disgenet.org/resource/nanopub/NP887532.RA2SzT2Q5GbcpOKF1d2iZJAUsu0EagaTTPxiZsUSPwa0s</a>
					</p>

				</div>
			</div>
			<div id="container2">
				<div id="content">
					<button id="npInfo" class="collapsible">Nanopublication
						Information:</button>
					<div class="content">

						<p>Creation Time: 2017-10-17</p>
						<p>Right Holder: IBIGroup</p>
						<p>
							<a target="_blank" rel="noopener noreferrer"
								href="http://rdf.disgenet.org/v5.0.0/void/disgenetv3.0rdf">DisGeNET</a>
						</p>

						<p>v5.0.0</p>
						<button id="creators" class="collapsible">Creators:</button>
						<div class="content">
							<p>
								<a target="_blank" rel="noopener noreferrer"
									href="http://orcid.org/0000-0003-0169-8159">Núria Queralt
									Rosinach</a><br>
							</p>
						</div>

						<button id="authors" class="collapsible">Authors:</button>
						<div class="content">
							<p>
								<a target="_blank" rel="noopener noreferrer"
									href="http://orcid.org/0000-0003-1244-7654">Janet Piñero</a><br>
								<a target="_blank" rel="noopener noreferrer"
									href="http://orcid.org/0000-0002-9383-528X">Laura I.
									Furlong</a><br>
								<a target="_blank" rel="noopener noreferrer"
									href="http://orcid.org/0000-0003-0169-8159">Núria Queralt
									Rosinach</a><br>
								<a target="_blank" rel="noopener noreferrer"
									href="http://orcid.org/0000-0002-7534-7661">Ferran Sanz</a><br>
								<a target="_blank" rel="noopener noreferrer"
									href="http://orcid.org/0000-0001-5999-6269">Àlex Bravo
									Serrano</a><br>
							</p>
						</div>


					</div>

					<button id="assertion" class="collapsible">Assertion:</button>
					<div class="content">

						<p>
						<p>
							[The G/G genotype of FAP-1 cSNP6304 was significantly associated
							with the increased risk of multiplex familial hepatocellular
							carcinomas (odds ratio, 2.44; 95% confidence interval,
							1.19-5.01).]. Sentence from MEDLINE/PubMed, a database of the
							U.S. National Library of Medicine.<br>(gene-disease
							association linked with genetic variation) PTPN13 protein
							tyrosine phosphatase, no - Carcinoma, Hepatocellular<br>
						<p>
							<b> Reference links:</b>
						</p>
						<p>
							<a target="_blank" rel="noopener noreferrer"
								href="http://identifiers.org/ncbigene/5783">PTPN13 protein
								tyrosine phosphatase, no</a>
						</p>
						<p>
							<a target="_blank" rel="noopener noreferrer"
								href="http://linkedlifedata.com/resource/umls/id/C2239176">Carcinoma,
								Hepatocellular</a>
						</p>
						<p>
							<a target="_blank" rel="noopener noreferrer"
								href="http://semanticscience.org/resource/SIO_001122">gene-disease
								association linked with genetic variation</a>
						</p>
						</p>
						</p>

					</div>

					<button id="assertion" class="collapsible">Provenance:</button>
					<div class="content">

						<p>
						<p>
							Assertion Generated by: <a target="_blank"
								rel="noopener noreferrer"
								href="http://purl.obolibrary.org/obo/ECO_0000203">automatic
								assertion</a><br>
							<a target="_blank" rel="noopener noreferrer"
								href="http://purl.obolibrary.org/obo/ECO_0000212">DisGeNET
								evidence - LITERATURE</a><br>Assertion Generation Description:
							Gene-disease associations inferred from text-mining the
							literature.
						</p>
						Evidence Source: <a target="_blank" rel="noopener noreferrer"
							href="http://identifiers.org/pubmed/16489062">http://identifiers.org/pubmed/16489062</a>
						<p>Abstract: PURPOSE: Allelic loss at chromosome 4q21-23
							occurs frequently in human hepatocellular carcinoma, and the
							putative tumor suppressor gene (TSG) has not yet been identified.
							We studied the Fas-associated phosphatase-1 (FAP-1) gene as a
							potential candidate TSG in this region. EXPERIMENTAL DESIGN: The
							expression level of FAP-1 RNA in hepatocellular carcinomas was
							evaluated by RNase protection and quantitative PCR. Sodium
							bisulfite modification and subsequent single-strand
							conformational polymorphism and sequence analyses were used to
							assay the methylation of CpGs at FAP-1 promoter. Direct
							sequencing of the FAP-1 coding region was conducted for detecting
							the genetic mutations. Two common single nucleotide polymorphisms
							of FAP-1 were selected for evaluating their association with the
							hepatocellular carcinoma trait in sporadic and familial
							hepatocellular carcinomas. Moreover, the functional effect of
							FAP-1 on cellular proliferation has been evaluated by small
							interfering RNA approach. RESULTS: Around 50% of hepatocellular
							carcinomas showed significantly decreased expression of FAP-1
							compared with the corresponding nontumorous liver tissues. In
							most cases, the RNA level was well correlated with the
							methylation status of promoter CpGs, suggesting that the promoter
							methylation may contribute to the down-regulation. Several
							genetic mutations of FAP-1 have been identified in hepatocellular
							carcinomas. The G/G genotype of FAP-1 cSNP6304 was significantly
							associated with the increased risk of multiplex familial
							hepatocellular carcinomas (odds ratio, 2.44; 95% confidence
							interval, 1.19-5.01). Finally, knockdown expression of FAP-1 was
							shown to enhance the cellular proliferation in PLC5 cells.
							CONCLUSIONS: FAP-1 could be inactivated during
							hepatocarcinogenesis, mainly attributed by allelic loss and
							promoter methylation. The genetic mutations and polymorphisms may
							also confront with the higher hepatocellular carcinoma risk.
							These results first suggested FAP-1 as a putative TSG in
							hepatocarcinogenesis.</p>
						</p>
						<button id="evidauthors" class="collapsible">Evidence
							Authors:</button>
						<div class="content">
							<p>
								<a target="_blank" rel="noopener noreferrer"
									href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Yeh%20SH%5BAuthor%5D&cauthor_uid=16489062">SH
									Yeh</a><br>
								<a target="_blank" rel="noopener noreferrer"
									href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Wu%20DC%5BAuthor%5D&cauthor_uid=16489062">DC
									Wu</a><br>
								<a target="_blank" rel="noopener noreferrer"
									href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Tsai%20CY%5BAuthor%5D&cauthor_uid=16489062">CY
									Tsai</a><br>
								<a target="_blank" rel="noopener noreferrer"
									href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Kuo%20TJ%5BAuthor%5D&cauthor_uid=16489062">TJ
									Kuo</a><br>
								<a target="_blank" rel="noopener noreferrer"
									href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Yu%20WC%5BAuthor%5D&cauthor_uid=16489062">WC
									Yu</a><br>
								<a target="_blank" rel="noopener noreferrer"
									href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Chang%20YS%5BAuthor%5D&cauthor_uid=16489062">YS
									Chang</a><br>
								<a target="_blank" rel="noopener noreferrer"
									href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Chen%20CL%5BAuthor%5D&cauthor_uid=16489062">CL
									Chen</a><br>
								<a target="_blank" rel="noopener noreferrer"
									href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Chang%20CF%5BAuthor%5D&cauthor_uid=16489062">CF
									Chang</a><br>
								<a target="_blank" rel="noopener noreferrer"
									href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Chen%20DS%5BAuthor%5D&cauthor_uid=16489062">DS
									Chen</a><br>
								<a target="_blank" rel="noopener noreferrer"
									href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Chen%20PJ%5BAuthor%5D&cauthor_uid=16489062">PJ
									Chen</a><br>
							</p>
						</div>

					</div>

				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>

	<div class="wrapper col5">
		<div id="footer">
			<div id="details">
				<div id="officialdetails"></div>
				<div class="clear"></div>
			</div>
			<div id="copyright">
				<p class="fl_left">
					Copyright &copy; 2019 - All Rights Reserved - <a
						href="http://ims.dei.unipd.it">Information Management Systems
						(IMS) Research Group</a> <a href="https://www.unipd.it/en/">University
						of Padua, Padua, Italy</a>

					<!--Fabris Erika <a href="mailto:erika.fabris@unipd.it">erika.fabris@unipd.it</a> -->
				</p>
				<br class="clear" />
			</div>
			<div class="clear"></div>
		</div>
	</div>

</body>

<script>
	var coll = document.getElementsByClassName("collapsible");
	var i;

	for (i = 0; i < coll.length; i++) {
		coll[i].addEventListener("click", function() {
			this.classList.toggle("active");
			var content = this.nextElementSibling;
			if (content.style.display == "block") {
				content.style.display = "none";
			} else {
				content.style.display = "block";
			}
		});
	}

	document.getElementById("clickNpInfo").addEventListener("click",
			openNPInfo());

	function openNPInfo() {
		var colla;

		colla = document.getElementById("npInfo");

		colla.classList.toggle("active");
		colla.nextElementSibling.classList.toggle("show");

		colla.click();

	}

	function copyFunction() {
		var copyText = document.getElementById("snippet");
		copyText.select();
		document.execCommand("copy");

		alert("Copied text snippet: " + copyText.value);
	}
</script>
</html>